#footerContainer{
    min-height: 20vh;
    background-image: linear-gradient(
    54deg,rgba(35, 36, 85, 0.95)  23%,rgba(218, 217, 217, 0.95));
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.footerWrapper{
    /* border:red solid 1px; */
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top:30px; 
}
.footerCol{
    color:white;
    /* border:blue solid 1px; */
    display: inline-block;
    width: 30%;
    margin:auto;
}
.title{
    font-family: 'Roboto Mono', monospace;
    line-height: normal;
}
.title p{
    font-weight: bold;
}
.footerCol a{
    color:white;
    opacity: 0.7;
    text-decoration: none;
}
.footerCol a:hover{
    text-decoration: none;
    opacity: 1;
}
.footerColP{
    font-size: 14px;
    color:white;
    text-align: left;
}
.footerIcon{
    color:white;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.footerIcon a{
    padding:10px;
}